.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
    background-size: cover;
    

}

.cardcontainer{
height:400px;
width:300px;
background-color:lightsteelblue;
border-radius: 10px;
border:3px solid blue;
margin:40px;
margin-left: 50px;
}

.image{
    width:300px;
    height:250px;
}
.heading{
    color:green;
    text-align: center;
}

.price{
    color:magenta;
    text-align: center;
}