.image{
    height:100vh;
    background-size: cover;
    background-image: url("GettyImages-sweets-Diwali-1200.jpg");
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-style: italic;
    font-weight: bolder;
    font-size: 100px;
    color:green;

}